body{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
.contact-from{
	background-color: gray;
	justify-content: center;
	border: 2px solid black;
}
.heading h2{
	text-align: center;
    color: pink;
}
.images img{
	width: 100%;
}
.contact-from{
	display: flex;
}
.btn{
	font-size: 18px;
    padding: 10px;
    margin-left: 60px;
    border-radius: 15px;
    color: white;
    background-color: blue;
}
.form-group{
	padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.form-group1{
	display: flex;
}
