body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.home{
	border: 1px solid;
    display: flex;
    justify-content: center;
    background: url('images/emp.jpg') no-repeat center center/cover;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.card{
	border-radius: none;
}
.services-section .services-card{
    border-radius: 10px;
    transition: all 0.3s;
}
.services-section .services-card:hover{
    transform: translateY(-10px);
}
.team-section img{
    width: 100px;
    height: 100px;
}
.footer-section{
    background-color: #222;
}
.footer-section p, .footer-section a{
    color: #aaa;
}
.footer-section a:hover{
    color: #fff;
}
.testimonials-section{
    background: url('images/pic4.jpg') no-repeat center center/cover;
}